@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Antic Didone', serif;
}

body{
  min-height: 100vh;
}

.container{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  position: relative;
  background: #fff;
  max-width: 1000px;
  width: 350px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.card-image{
  max-height: 200px;
  overflow: visible;
}

.card-image img{
  max-width: 100%;
  height: auto;
  visibility: visible;
}




.card-info{
  position: relative;
  color: #222;
  padding: 20px;
}

.card-info h3{
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Antic Didone', serif;
}


.card-info p{
  font-size: 1em;
  margin-bottom: 15px;
  text-align: center;

}

.card-info .card-mediaIcons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info .card-mediaIcons a{
  color: black;
  font-family: 'Antic Didone', serif;
  font-size: 1.4em;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
}

.card-info .card-mediaIcons a:hover{
  color: black;
}



